body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.centered-box{
    width: 200px;
    height: 200px;
    background-color: grey;
    border: 1 px solid;
}